.cardContainer {
  flex: 1;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardButton {
  width: 230px;
  /* color: #fff !important; */
}

.cardButton:hover {
  /* background-color: unset !important;
  background: rgba(104,136,238, 0.1) !important;
  color: #6888ee !important;
  font-weight: 700; */
}

.cardInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 15px; */
}

.dataPoint {
  flex: 1;
}

.dataPointHeader {
  padding-bottom: 7px;
}

.chainNameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px !important;
}

.avatar {
  flex-shrink: 0;
  position: relative;
  border-radius: 100%;
  display: flex;
}

.name {
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 1px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
